.page-box
  .page-title
    .page-title__name
      %p.page-title__name--text
      = "タイトル："
      = page.title
      = link_to "削除", note_page_path(@note, page.id), method: :delete
      = link_to "編集", edit_note_page_path(@note, page.id), method: :get
    .page-title__date
      %p.page-title__date--create
      = "作成日時"
      = page.created_at.strftime("%Y年%m月%d日 %H時%M分")
      %p.page-title__date--update
      = "作成日時"
      = page.updated_at.strftime("%Y年%m月%d日 %H時%M分")
  .page-text
    - if page.text.present?
      %p.page-text__content
      = "内容："
      = page.text
    = image_tag page.image.url, class: 'page-text__image' if page.image.present?
