.page-box
  .page-box__header
    %p.page-box__header--title
      = page.title
    .page-box__header--parts
      = link_to edit_note_page_path(@note, page.id), method: :get do
        = icon('far', 'edit')
      = link_to note_page_path(@note, page.id), method: :delete do
        = icon('far', 'trash-alt')
  .page-box__date
    %p.page-box__date--create
      = "作成日時"
      = page.created_at.strftime("%Y年%m月%d日 %H時%M分")
    %p.page-box__date--update
      = "更新日時"
      = page.updated_at.strftime("%Y年%m月%d日 %H時%M分")
  .page-box__text
    - if page.text.present?
      %p.page-box__text--content
      = page.text
    = image_tag page.image.url, class: 'page-box__text--image' if page.image.present?
