.page-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        = current_user.name
      .side-header__box__right
        %span.side-header__box__right--arrow
          = image_tag src="/assets/arrow_top.png"
        %ul.side-header__box__right--list
          %li
            = link_to "編集", edit_user_path(current_user)
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
  .side-items
    .side-items__box
      %p.side-items__box__newnote
        = link_to "新規ノート作成", new_note_path
      - current_user.notes.each do |note|
        .note
          = link_to note_pages_path(note) do
            .note__name
              = note.name
            .note__parts
              = link_to edit_note_path(note.id) do
                = icon('far', 'edit')
              = link_to note_path(note.id),method: :delete do
                = icon('far', 'trash-alt')