.edit-pages
  .form
    .form__title
      %h1 ページの編集
    = form_with model: [@note, @page], html: {class: "input-box"}, local: true do |f|
      = f.text_field :title, class: 'input-box__title', autofocus: true
      .input-box__post
        = f.text_area :text, wrap: 'hard', class: 'input-box__post__text'
        .input-box__post__function
          = f.label :image, class: 'input-box__post__function__image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'input-box__post__function__image--file'
          = f.submit '投稿', class: 'input-box__post__function__btn'